body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

#app {
  margin-top: 30px;
}

input, button {
  padding: 10px;
  margin: 5px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #000;
}
